<div id="<%= dom_id cityname %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= cityname.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= cityname.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= cityname.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this cityname", cityname, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cityname', edit_cityname_path(cityname), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
