<%= form_with(model: course, class: "contents") do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_field :title, class: "block rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.rich_text_area :content, class: "block rounded-md border  px-3 py-2 mt-2 w-full" %>
  </div>

<div class="flex">
  <div class=" flew w-1/2 my-5">
    <%= form.select :level_name, @levels.map{|level| [level.title]}, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class=" flew w-1/2 my-5 ml-4">
    <%= form.select :material_name, @materials.map{|material| [material.title]}, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
</div>
  <div class="inline mt-4">
    <%= form.submit "Crée la leçon",  class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
